html,
body {
  font-family: "Ubuntu", sans-serif;
  background: #111;
  overflow: hidden;
  margin: 0;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  color: aliceblue;
  z-index: 10;
}

@keyframes show-info {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.info {
  transform-origin: 0% 50%;
  transform: rotateY(120deg);
  position: absolute;
  font-size: 12px;
  opacity: 0.8;
  color: #fff;
  width: min(400px, calc(100% / 2));
  left: 0px;
  top: 20px;
  animation: show-info 500ms cubic-bezier(0.23, 1, 0.32, 1) 600ms 1 normal forwards;
  z-index: 5;
}

.info img {
  max-width: 100%;
}

.info:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.05);
  opacity: 1;
}

.info h3 {
  line-height: 1;
  margin: 5px 0;
}

.info a {
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
}

.info a:hover {
  opacity: 0.99;
}

.info .about {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
}

.info .about h3 {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 11px;
}

.info .about a:before {
  font-size: 14px;
  margin-right: 2px;
  content: "\203A";
}

.info .about a:after {
  content: "\00a0\00a0 ";
}
